.header {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;

    label {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bolder;
        color: #003770;
      }
}

.body {
    height: 100px;
    text-align: center;
    font-size: 14px;
}